body {
	font-weight: 200;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}

a:focus, a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo {
	padding-top: 20px;
}

.header {
  background-color: #523F78;
  padding: 10px;
}

.view-title {
  margin: 20px;
  color: white;
  background-color: #1180D1;
}

.btn-add {
  padding: 20px 15px;
}
